*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.myHight{
    height: 300px;
}

.Box{
    height: 100px;
    width: 100px;
    
}
.jumbotron{
    padding: 4rem;
    background-color: #e9ecef;
}